@model IEnumerable<ProductVisualizer.Models.software>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/flipcard.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>Software List</h2>

<p>
    @Html.ActionLink("Create New", "Create")  

</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LearnIt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TokenRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnIt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoftwareId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoftwareId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoftwareId })
        </td>
    </tr>
}

</table>*@
<div class="row">
    <br/>
    @foreach (var item in Model)
    {
        @Html.Action("SWLinkedItems", new { id = item.SoftwareId });
    }
</div>
