@model IEnumerable<ProductVisualizer.Models.software>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LearnIt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TokenRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnIt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoftwareId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoftwareId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoftwareId })
        </td>
    </tr>
}

</table>
